$btn-blue:#194fc8; //深蓝按钮
$btn-dis:#8db0ff; //dis按钮
$purple:#ca1251; //紫色  
#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}