@font-face {
  font-family: "PingFang-SC";
  font-weight: 100;
  src: local("PingFang SC Thin");
}

@font-face {
  font-family: "PingFang-SC";
  font-weight: 300;
  src: local("PingFang SC Light");
}

@font-face {
  font-family: "PingFang-SC";
  font-weight: 400;
  src: local("PingFang SC Regular");
}

@font-face {
  font-family: "PingFang-SC";
  font-weight: 500;
  src: local("PingFang SC Medium");
}

@font-face {
  font-family: "PingFang-SC";
  font-weight: 700;
  src: local("PingFang SC Semibold");
}

@font-face {
  font-family: "PingFang-SC";
  font-weight: 800;
  src: local("PingFang SC Heavy");
}

body {
  font-family: system, -apple-system, BlinkMacSystemFont, "PingFang SC", "Segoe UI", "Microsoft YaHei", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input, select, textarea, button {
  font-family: system, -apple-system, BlinkMacSystemFont, "PingFang SC", "Segoe UI", "Microsoft YaHei", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.start {
  justify-content: flex-start;
}

.end {
  justify-content: flex-end;
}

.space {
  justify-content: space-between;
}

.center {
  justify-content: center;
  align-items: center;
}

.content-center {
  justify-content: center;
}

.item-center {
  align-items: center;
}

.f-0 {
  flex: 0 0 auto;
}

.f-1 {
  flex: 1;
}

* {
  font-family: PingFangSC-Regular;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.start {
  justify-content: flex-start;
}

.end {
  justify-content: flex-end;
}

.space {
  justify-content: space-between;
}

.center {
  justify-content: center;
  align-items: center;
}

.content-center {
  justify-content: center;
}

.item-center {
  align-items: center;
}

.f-0 {
  flex: 0 0 auto;
}

.f-1 {
  flex: 1;
}

.fz-24 {
  font-size: 0.32rem;
  line-height: 0.32rem;
}

.fz-26 {
  font-size: 0.3467rem;
  line-height: 0.3467rem;
}

.fz-28 {
  font-size: 0.3733rem;
  line-height: 0.3733rem;
}

.fz-30 {
  font-size: 0.4rem;
  line-height: 0.4rem;
}

.fz-32 {
  font-size: 0.4267rem;
  line-height: 0.4267rem;
}

.fz-34 {
  font-size: 0.4533rem;
  line-height: 0.4533rem;
}

.fz-36 {
  font-size: 0.48rem;
  line-height: 0.48rem;
}

.fz-40 {
  font-size: 0.5333rem;
  line-height: 0.5333rem;
}

.fz-44 {
  font-size: 0.5867rem;
  line-height: 0.5867rem;
}

.fz-48 {
  font-size: 0.64rem;
  line-height: 0.64rem;
}

.fw-4 {
  font-weight: 400;
}

.fw-7 {
  font-weight: 700;
}

.anyi-btn {
  background: #278AFA;
  color: #fff;
  box-shadow: 0 0.1067rem 0.4667rem 0 rgba(84, 165, 255, 0.8);
  border-radius: 0.16rem;
  text-align: center;
  height: 1.2rem;
  line-height: 1.2rem;
  font-size: 0.4267rem;
}

.anyi-btn:active {
  color: #9AB0CA;
  background: #2270C8;
}

.anyi-btn-disabled {
  opacity: 0.4;
  color: #fff;
  background: #278AFA;
}

.anyi-btn-disabled:active {
  opacity: 0.4;
  color: #fff;
  background: #278AFA;
}

.anyi-btn-txt {
  line-height: 0.3733rem;
  font-size: 0.3733rem;
  color: #278AFA;
  letter-spacing: 0;
}

.anyi-btn-txt-disabled {
  color: #BFBFBF;
}

.line-over {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.more-over {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

input,
select,
option {
  font-size: 0.3rem;
  color: #282828;
  height: 0.45rem;
  text-align: right;
  font-family: PingFangSC-Regular;
  border: 0 none;
  outline-style: none;
}

input::placeholder {
  font-size: 0.3rem;
  color: #b7b7b7;
  outline: none;
  font-family: PingFangSC-Regular;
}

select,
option {
  direction: ltr;
  text-align: right;
}

.anyi-cell-item {
  background: #fff;
}

.anyi-cell-item .anyi-cell-left .left-title-line {
  border-left: 0.06rem solid #1F1F1F;
  height: 0.32rem;
  padding-left: 0.16rem;
  background: transparent;
  margin-bottom: 0.03rem;
}

.anyi-cell-item .anyi-cell-left .left-title {
  height: 0.42rem;
  font-size: 0.3rem;
  font-family: PingFangSC-Regular;
  color: #282828;
  line-height: 0.42rem;
}

.anyi-cell-item .anyi-cell-left .top-title {
  height: 0.45rem;
  font-size: 0.32rem;
  font-family: PingFangSC-Medium;
  color: #1F1F1F;
  line-height: 0.45rem;
}

.anyi-cell-item .anyi-cell-right {
  padding-left: 0.2rem;
}

.anyi-cell-item .anyi-cell-right .right-title,
.anyi-cell-item .anyi-cell-right .yd-datetime-input,
.anyi-cell-item .anyi-cell-right .yd-datetime-placeholder {
  height: 0.42rem;
  font-size: 0.3rem;
  font-family: PingFangSC-Regular;
  color: #282828;
  line-height: 0.42rem;
}

.anyi-cell-item .anyi-cell-right .yd-datetime-input {
  padding-right: 0.42rem;
  position: relative;
}

.anyi-cell-item .anyi-cell-right .yd-datetime-input:after {
  content: '';
  height: 0.42rem;
  width: 0.42rem;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAACrElEQVRIS81WPWgUURD+Zu8ulaiFSAoLBQtFosbaIukEK0XBwiKSXHbfipirRKurDBaiKfbe26xyCVj4iwj2l0LtzKlJcyjYphCxPMzujszmFo6QZPcuMWSqZefne9+bnzeETcT3/SFmfgvgqeM405vZdf83xtwFME5El2zbXtrIhzYLZIy5zcyPATSVUufyAGqtFwEME9GU4zgzGwJqrYcB1AEMAbDyBO7DJgYgjG+Q1voLgDN9BOnH5asARsKMmStEJOCJENEVZr4J4AeAcs7oAYDjROQx8+vUh5nPEtEjALEAckcxqpRaSI1qtdqUGMkhHMeRa88UY0xTgsvhXdeV/CeitR4B0EiI7BlArfVYp5gWlFKjmfTWmAiLEcuyxmzbnu+Joe/7pTiOrxWLxQ/lcvlnHsAgCI6FYXjesqzntm2v9gSYByCvzYY5JKK/UkV5g/RoJ10wsL5oeozRn3l3ld4hom/9hdnai5lPA3iwZVvsJHCuPtw1QM/z9hUKhVcAjnZAmysrK9er1Wrsed5Jy7LmiGg/r8kz13Xvi53v+xfjOJ4mohIzhwCqSqk3mZNmdnb2VBRFy10MV9vt9uFKpfLHGDPOzE+6dMtKKXllpOlrAFSXbl4pJcMje7QZYy6kDJl5SSn1URwbjUax1WpdBXCAiGJmbjiO81109Xr9YLvdvkxEUv6rRPTOtu1fuQB3Mn+ZgNVqdWBwcFBe6ySHcRw3Xde9J99BEBwJw/BhmkMAL5VSc1kH3LJKOxuArAqpcKlUOjQxMfFbay05klyl0lJKndgWYOcK7JRh5z18If87FXyLmZMqLRaL7ycnJz9tGzArQK/6vdX4vZ4+j/16hskSBWA3hneyRH0GkGvRzcMmw2aRZKWPoiggoiEi+i+LMDPLVFoqFArlfwxnqhVIEioSAAAAAElFTkSuQmCC") no-repeat center;
  background-size: 0.32rem 0.32rem;
  position: absolute;
  bottom: 0.02rem;
  margin: auto;
  right: -0.05rem;
}

.anyi-cell-item .anyi-cell-right .yd-datetime-input .yd-datetime-placeholder {
  color: #707070;
}

.anyi-cell-item .anyi-cell-right input {
  flex: 1;
}

.anyi-cell-item:not(:last-child):after {
  content: none;
}

.yd-scrollview:after {
  height: 0.32rem;
}

.yd-popup-content > div {
  height: 100%;
}

.yd-datetime-head > a:last-child {
  color: #194FC8;
}

.yd-popup {
  background: #f5f5f5;
}

.popup-close-btn,
.yd-btn,
.yd-btn-primary {
  background: #194FC8;
  border-radius: 0;
  z-index: 9;
  height: 1.09rem;
  font-size: 0.32rem;
  font-family: PingFangSC-Medium;
  color: white;
  line-height: 1.09rem;
}

.popup-close-btn:hover,
.yd-btn:hover,
.yd-btn-primary:hover {
  background: #366be4;
}

.popup-close-btn:active,
.yd-btn:active,
.yd-btn-primary:active {
  background: #224492;
}

.yd-mask {
  z-index: 1501 !important;
}

.yd-mask .yd-datetime {
  z-index: 1502 !important;
}

.buy-com > .yd-mask {
  z-index: 1500 !important;
}

.bottom-after {
  position: relative;
}

.bottom-after:after {
  position: absolute;
  bottom: 0;
  left: 0.32rem;
  right: 0.32rem;
  margin: auto;
  content: '';
  height: 1px;
  background: #d2d2d2;
}

.cut-icon, .add-icon {
  height: 0.34rem;
  width: 0.34rem;
  margin-bottom: 0.04rem;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAiCAYAAAFNQDtUAAAAAXNSR0IArs4c6QAABNxJREFUWAm9mE1oXUUUx9+9eeTlA2lIpOADDSJ1KxpXpQG7ktYqaSuU2pJFCPlYqJSWCMauUoVUi2gW+SBkEaoi2KRYm+JKwdJVirgqFERUSEEaiJR8vJC85+9/vXOde9/ca5qkHZjMzDn/8zFnzj0zL7lc2EZHRx+YuXP0hOjv73+CseJ53lylUjlchZycnHwxIgoZI4yNjR2jTwYIuN9EUDORiHqwnpqaetowojGGMNSkLkmOj4+fDfiyaoCuURp9GNW7caEjtQmm8dqz6Zj+gXWxoaHhpc7OzuWIB3ozWoQToyGH1OUk06yNs62GkBw5Ii/f3Nx8SIxIZYgSM5im7SLE5XxO92OzSI74txrQmJSTTDS/L1oUB0CzaOsIiJ631tfXVx8DaKGmbQM8RXLdZDzf0tIyv7S0VGT+erlcvgjdy+fzz3Z3d//+r4T1VwFFwQmLlDmV6xMTE0GUAlcVqig8maJxJvsdxsN9Php11gfj7K2tent730PJUaVhsaamZmFrYm6Ur2zb3Ny842ZnU6enp/cS57UAxcfbmkyhbPEg5QYJxZJwUQ5ooWjj1Zzv+xe1X9HsJssrKys62hI50mR4MSWGCLgR8Ges2wlcEZfnmY8gOGMw9hhTom1tbGz8hmAFbwYQvtbU1LSwuLj4MvMhyAcYv0DZaacSfT1k5CeFQuGZrq6uP22QPSd2KnFHyasamx7EQhkYI2YswJ5AWbxkPOzJSL88QllQXpSxszqNDMNOFtt5kxidEjPPpINAxQLslHIQCfJNnDimtN92w4HzCL+dT2pA83WYqWXd/tpVa3T8VUrY2mtJxWlrFSu2tLCj7ZBXb2DgJx9Na/om0qxl0dn2MFXgXZ96uT/8qLLwVTxdoDjg6dLyKbg/gyiZ0l6FTiGUSqU/VLBjbGXtVhVxgmV9a0ZBLMlgqsgU2Gcrbv5lQGZEcJhgDlBOD/f09Nww9JgSEfVEoRzcImh1BmRGQjBLClS9H6qUGAF7DBUrOw+5lNtYM9epM79B3IbCuBuWc0x1ROWW7X+F4T1SSv+8vr7+kitULs1KvdXV1bPIvyPnkf+bYnHSDqUtV+WIDk5FEkG9Fz+g5n9kC2x3ruTBoQt0D4fOofeSrStyJCzzvwDcA3BwtxywjWlORg8yXFCEOLYXzPskcCTMgdsASrW1tc9nXRdSttOmD3d9ff0uego406Yc8sLb8j6RqG1sbHxqqzmwU2eUQ8vLy/eIzDqf6ZO+rmycqOM4Bh6XE9qEbOGE3lh18kEVul0MiNc0Ps7G5r8N7bXr+ixqQZW6l+bE/11kaXKis8HrFLAjLoxs8iLLyYc8wHkmr5A8bYB/dAk8zGXokk+jhTbl7LyOZkRAFkNpAo+Kbtkc8dntDISrROWALpNHZTSpV7ZkE9u6e2aigkYeXIahd9cVvcGSgru51kMRfcdxInoHR47IUPic/w6A6Cfx9GvRd6uxWf2Y0/1VIVGP2PdOzBFjMLxv9JpVDl3hcX5mu9VWVZTXy6foOU4vq14l7xno8R84ItgtvH8+hPYWm5DTZYJ1i36Vi/E2u1rQzw7J6OnIp1jEUBvYDvp+yHoE6n8hX1LKB829InyyOSOSBJl1eB28ylqP4+fo+pEd1CEMyiH1X+lzlO3vqZ7//ecCYlb7BzeicWI1HsB+AAAAAElFTkSuQmCC") no-repeat center;
  background-size: 0.34rem 0.34rem;
}

.add-icon {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAiCAYAAAFNQDtUAAAAAXNSR0IArs4c6QAABS1JREFUWAm9WN1rXEUUn5nddXdrYloJwm4roRR8NNi0SSgG9ElSq9m0D1I//gSVUqlg7FOr0GoR9dU3P4pgs7tqU3xSUEo2TZX4IgillNa7UGpIm7bZuNkZz2+yM507e++yG4MDm5k558zvnJk5c865YazZcoXZZTOO7DkkqqXR3tzErGKczTDF9ltJYp7HJH/o0lMPiCQZIuyYnDuYL1Q+0xK05BsragYA1wpAyE/MPW4Ytg9JGKqPhZXbC3NHNR9ajSB6i98kYi6kUg9240r7YwvrMQwqd+lk14+c8Xx/b2b3758P3rO8XKHSsJPmwCDQvitf+Ewz18YyrgYMwe+r5VGe3JbqHQ+IYyGbUmDqYdwuDBrO4wMz8fv8xOyKpuUmKtJnEu0d0Ow50IUXlVKFJrEWlEezIQFM0LBtxdQrnLNfBEsc70ttmV9au5tnir8gmTpNDsczidTOq9O7r62vcP7iQOnWX3JIbYcwfUfh0rgV8o/KMmjQjkfbO0WWTwvcdYInnnUXdjoOSiNv09YnBZxFcYm723AT8Dap2B8bQdg1ufAYXV1Nr9158NeBdnuPUrB9sjJFZ7IEnvUBTHDaDdWY4Zyfxn5Bcxs0r8iVa4zzVeJvNbwQiCE++drCw7eWax/TfIwOLk/9fIKLT28Uh6eNjNuHQLCtWqN+lexTgvFj9Jy+25rsCW7X7++RrHFCKfY0XcSXQXnkVRfEjvF6cC6RAcpKkd9QiIt66fosoh6PszY0hGe3AHV7M0CERTa84GXCfUOqnEk7BYaXxNO2YcVZ3MkQLx3RWXQiHCeDUNFQ8vWkL0B7PR9KUiRgzIasazVizWJ9eU8LCGW8511gALgLXR6CFflN8J+2o6R6kUB/plDAangTroZOx4rzUxQF3hQsmdinH1XMSjJX522frT2b4q1NWnjSJrT7wnFznBXeWogPYqdAeCJupgq9Yh1klEpnRXbgSnHwZkgLTeDZ5JzHKCbvv1Hae8HwQyAg6hJlrXFRMZYxQqan8ylSGAjVD+C1gJgFbr8OLI8zpsajwF1ZM8atE/wFlhQngnN7fzP0uD7WEIRbyeRZOoI+Dcr5J1meORN1VFHgOhyr2lGm1BswnsL2bcHEYfco3XUthuDipJIf0m5oPXu3Wh55312w0XHTeU7SqXLBxVt/lYbPuFjWELjeqqwv4ATIiKnNMsBVhjEynpTqJE4oLVKDpj7RhsAH1Jq8TKlmlTHxRFAevu4DxM11ACOmH4Pi5EFfT0nyT3q7aZ4UQ/AhrrPlnZVbFBYe2sIzuU59wCgyUTMu8Bk5v4cP3Ve1Klfqn/5Hsv0CKRvOhKzbrRE+eDdz6CIjqMZiGdiACD2mASj1dwO0GbLktd82ccaSzeKF9Wzrq8aBRyUyX9ZckU9HgKcAdsCnYw6dd/5eohyp8kh88/R75t7i8hD1P9GvpbVzRGNAtz4CJU2dGM4LlHEYoRJD/382oxM2CNSS9KZLKAfblUmbbeB64tIlaDFUz6Jw0+kz6st5k61AoQhdtlgkfBtZoUuX80x+j68ycrLDFNi+3kwbUPKSY55FkZ5g4oCbd0KGGKU63+jPRBT17BxX4kg30dbgoEcUpc+wj2hzh2h7EvHKzzOQizQEDDSdfxr19yjovIxkBSDazEXORIkml/Gdh88OyOrSUYk87XhIMVmgQ91HmZfiFKeF7Kt0IjVl8grk/dbWEF8Y6WDx7upz+J8HKdxFxkAxPqJoRzygcUD9FcH5zKM96R9sEegDRcz/BY/9Vn50p4D5AAAAAElFTkSuQmCC") no-repeat center;
  background-size: 0.34rem 0.34rem;
}
