$themeColor: #194FC8;//主题色
$hoverColor: #366be4;
$activeColor: #224492;


$titleColor: #1F283B;//标题颜色
$textColor: #707070;//文字颜色 
$tipColor: #A0A0A0;//提示文案颜色
$priceColor: #CA1251;//价钱颜色

$itemTitleColor: #1F1F1F;//列表总标题颜色
$itemSubTitleColor: #282828;//列表子标题颜色

$bodybgc: #F5F5F5;//body的背景色
$em-base: 100;
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@function strip-units($value) {
  @return ($value / ($value * 0 + 1));
}

@function rem($pxval) {
  @if not unitless($pxval) {
    $pxval: strip-units($pxval);
  }

  $base: $em-base;
  @if not unitless($base) {
    $base: strip-units($base);
  }
  @return ($pxval / $base) * 1rem;
}

//------------------字体相关配置---------------------
@font-face {
  font-family: "PingFang-SC";
  font-weight: 100;
  src: local("PingFang SC Thin");
}

@font-face {
  font-family: "PingFang-SC";
  font-weight: 300;
  src: local("PingFang SC Light");
}

@font-face {
  font-family: "PingFang-SC";
  font-weight: 400;
  src: local("PingFang SC Regular");
}

@font-face {
  font-family: "PingFang-SC";
  font-weight: 500;
  src: local("PingFang SC Medium");
}

@font-face {
  font-family: "PingFang-SC";
  font-weight: 700;
  src: local("PingFang SC Semibold");
}

@font-face {
  font-family: "PingFang-SC";
  font-weight: 800;
  src: local("PingFang SC Heavy");
}

body {
  font-family: system, -apple-system, BlinkMacSystemFont,
  "PingFang SC", "Segoe UI", "Microsoft YaHei", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
  "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input,select,textarea,button {
  font-family: system, -apple-system, BlinkMacSystemFont,
  "PingFang SC", "Segoe UI", "Microsoft YaHei", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
  "Helvetica Neue", Helvetica, Arial, sans-serif;
}
//------------------字体相关配置end------------------

//------------------flex布局样式---------------------
.flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}
.start {
  justify-content: flex-start;
}
.end {
  justify-content: flex-end;
}
.space {
  justify-content: space-between;
}
.center {
  justify-content: center;
  align-items: center;
}
.content-center {
  justify-content: center;
}
.item-center {
  align-items: center;
}
.f-0 {
  flex: 0 0 auto;
}
.f-1 {
  flex: 1;
}
//------------------flex布局样式end------------------