/*
 * YDUI 全局样式替换
 * 修改会影响全部产品
 * 如果是单款产品样式不一样，或者某个组件样式不一样，不允许修改此文件。可以修改样式写在组件内或者页面内
 */

//------------- 迭代YDUI样式 -----------------

.yd-flexview{
  // 最大540px，与其他平台保持一致
  max-width: 540px;
}

.yd-scrollview:after {
  height: 0;
}

.yd-cell-item {
  display: flex;
  position: relative;
  height: 1.1rem;
  padding-left: 0.32rem;
  padding-right: 0.32rem;
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.yd-cell-left {
  font-size: 0.3rem;
  font-weight: 500;
  color: rgba(112, 112, 112, 1);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  span {
    line-height: 0.3rem;
  }
}

.yd-cell-right {
  flex: 1;
  font-size: 0.3rem;
  color: rgba(112, 112, 112, 1);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  span {
    line-height: 0.3rem;
  }
}

.yd-cell-arrow:after {
  font-size: 0.3rem;
  height: 0.3rem;
  color: rgba(151, 151, 151, 1);
  content: "\E608";
}

.yd-datetime-input {
  font-size: 0.3rem !important;
  color: #282828 !important;
  height: 0.45rem !important;
  text-align: right !important;
  justify-content: flex-end !important;
}
.yd-datetime-placeholder {
  font-size: 0.3rem !important;
  color: #b7b7b7 !important;
  outline: none;
}
//------------- 迭代YDUI样式EDN -----------------

//--------------迭代input 样式 ------------------
input,
select,
option {
  font-size: 0.3rem !important;
  color: #282828 !important;
  height: 0.45rem !important;
  text-align: right !important;
}
input::placeholder {
  font-size: 0.3rem !important;
  color: #b7b7b7 !important;
  outline: none;
}
select,
option {
  direction: rtl; //设置文字对齐方式
  text-align: right;
}
//--------------迭代input 样式END ------------------
